*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Noto Sans TC';
}

.msg-board {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.msg-board-container{
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(1fr, max-content));
    gap: 15px;
}

.msg-board-input{
    width: 100%;
    height: 200px;
    border:1px solid #000;
    border-radius: 20px;

    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(35px, max-content));
    gap: 10px;
    align-items: center;
}

.comment-form{
    width: 100%;
    height: 30px;
    display: flex;
    gap: 10px;
}

.image-form{
    width: 100%;
    display: flex;
    gap: 10px;
}

input{
    font-size: 20px;
}

button{
    width: 50px;
    font-size: 20px;
}

.msg-board-view{
    width: 100%;
    height: 650px;

    border:1px solid #000;
    border-radius: 10px;
    /* 高度固定，但若資料過多，div會自動顯示滑軌功能 */
    overflow-y: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(150px, max-content));
    gap: 15px;
    justify-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

/* 使用::-webkit-scrollbar方法，將滑軌的角用成圓弧形 */
.msg-board-view{
    &::-webkit-scrollbar{
        width: 10px;
    }

    /* &::-webkit-scrollbar-track{
        background: transparent;
    } */

    &::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 10px;
    }
}


.view-comment-info{
    width: 90%;
    height: 160px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(30px, max-content));

    border: 1px solid #838282;
    border-radius: 20px;
    
    padding-left: 10px;
    box-sizing: border-box;
}

.comment-info-text{
    width: 100%;
    font-size: 16px;
    line-height: 30px;
}

.comment-info-image img{
    width: 120px;
    height: 120px;
    box-sizing: border-box;
}

@media (1200px <= width < 1920px){
    .msg-board-container{
        width: 100%;
    }
}

@media (650px <= width < 1200px){
    .msg-board-container{
        width: 100%;
    }
}